<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="card">
    <h1>Register</h1>

    {% if error %}
      <div class="alert">{{ error }}</div>
    {% endif %}

    <form method="POST" class="form">
      <label>Voornaam</label>
      <input name="firstname" type="text" placeholder="bv. Jan" required />

      <label>Achternaam</label>
      <input name="lastname" type="text" placeholder="bv. Jansen" required />

      <label>Username</label>
      <input name="username" type="text" placeholder="bv. nabil" required />

      <label>Password</label>
      <input name="password" type="password" placeholder="min. 6 tekens" required />

      <button type="submit">Account maken</button>
    </form>

    <p class="muted">
      Heb je al een account?
      <a href="{{ url_for('login') }}">Login</a>
    </p>
  </div>
</body>
</html>
